/*contact*/
.contact {
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 80px;
  width: 100%;
  display: flex;
  background-color: rgb(226, 226, 226);
  justify-content: center;
  align-items: center;
}
.lokasi-kegiatan {
  text-align: center;
  width: 50%;
}
.lokasi-kegiatan h1 {
  font-size: 20px;
  margin: 0;

  margin-bottom: 10px;
  color: rgb(26, 26, 26);
}
.lokasi-kegiatan iframe {
  width: 70%;
}
.contact-area {
  width: 50%;
  display: flex;
  justify-content: center;
}

.contact-box {
  width: 60%;
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
}

.contact-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

.contact-link {
  display: block;
  text-decoration: none;
  background-color: #34db50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
}

.contact-link:hover {
  background-color: #2980b9;
}
@media (max-width: 767px) {
  .contact {
    width: 100%;
    display: flex;
    background: none;
    flex-direction: column;
  }

  .lokasi-kegiatan {
    text-align: center;
    width: 70%;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
  }
  .lokasi-kegiatan h1 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    color: rgb(26, 26, 26);
  }
  .lokasi-kegiatan iframe {
    width: auto;
  }
  .contact-area {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact-box {
    width: 70%;
  }
  .contact h1 {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
  }
}
@media (max-width: 440px) {
  .contact {
    background: none;
  }
  .lokasi-kegiatan {
    text-align: center;
    width: 70%;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
  }
  .lokasi-kegiatan h1 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    color: rgb(26, 26, 26);
  }
  .lokasi-kegiatan iframe {
    width: 250px;
  }
  .contact-area {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact-box {
    width: 70%;
  }

  .contact h1 {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
  }
}
