/* Styling for the info icon */
.info-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  color: #1a1a1a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  font-size: 25px;
 box-shadow: 0 0 100px black;
  font-weight: bold; 

}

/* Styling for the announcement box */
.announcement-box {
  border-radius: 25px 25px 0 25px ; /* Atas kiri, atas kanan, bawah kanan, bawah kiri */
  background: #ffffff;
  box-shadow: 0 0 15px black;
  display: none;
  position: fixed;
  bottom: 80px;
  right: 50px;

  border: 1px solid #303030;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  z-index: 1000;
}

.announcement-box ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.announcement-box ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.announcement-box ul li:last-child {
  border-bottom: none;
}
@media (max-width: 767px){
    .info-icon{
        font-size: 25px;
    }
}

@media (max-width: 440px){
    .info-icon{
        font-size: 22px;
    }
}