/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/img/BG.jpg');
  background-repeat: no-repeat; /* Menghindari pengulangan gambar */
  background-size: cover; /* Menutupi seluruh area body */
  background-position: center; /* Menempatkan gambar di tengah */
  background-attachment: fixed; /* Membuat gambar tetap di tempat saat di-scroll */
}
header {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.432);
  top: 0;
  left: 0;
  right: 0;
  z-index: 888; /* Memastikan header berada di atas konten lainnya */
}

.logo-left img,
.logo-right img {
  width: 50px; /* Sesuaikan ukuran logo */
  height: auto;
  margin: 4px 5px;
}

.title {
  flex-grow: 1;
  font-family: "Font1", sans-serif;
}

.title h1 {
  font-size: 19px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.centang-biru {
  width: 22px;
height: auto;
  margin-left: 5px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
#data-terimpan {

  margin-top: 100px;
  text-align: center;
  padding: 20px;
  background: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}
#data-terimpan a {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #007bff;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}
#data-terimpan a:hover{
  background-color: #0056b3;
}
.button-group {
  margin: 0 auto;
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Jarak antara tautan dan tombol */
}

@media (max-width: 440px){
  .button-group {
    width: 60%;
  }
}
/* Form Section Styles */
#form-section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.205);
  padding: 20px;

  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
}

.text {
  text-align: center;
  margin-bottom: 20px;
}

.text h2 {
  color: #333;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Form Field Styles */
.field {
  margin-bottom: 20px;
}
.field .text-file{
  margin: 0;
  font-size: 13px;
  margin-bottom: 10px;
}
.label {
  font-weight: bold;
  color: #383838;
  display: block;
  margin-bottom: 5px;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#tanggal {
  font-family: Arial, sans-serif;
}

.textarea {
  font-family: Arial, sans-serif;
}

.radio {
  margin-right: 20px;
}

/* Button Styles */
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button.is-primary {
  background-color: #007bff;
  color: #fff;
}

.button.is-primary:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .logo-left img,
  .logo-right img {
    width: 40px; /* Sesuaikan ukuran logo */
  }
  .title {
    font-size: 11px;
  }
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  #form-section {
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .input,
  .textarea {
    width: calc(100% - 0);
  }
}
@media (max-width: 440px) {
  
  .logo-left img,
  .logo-right img {
    width: 40px; /* Sesuaikan ukuran logo */
  }
  .title {
    font-size: 11px;
  }
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  #form-section {
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .input,
  .textarea {
    width: calc(100% - 0);
  }
}
